<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinglong.todo.dao.ItemDao">
    <resultMap id="BaseResultMap" type="com.qinglong.todo.entity.Item">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <parameterMap id="Item" type="com.qinglong.todo.entity.Item"/>

    <sql id="Base_Column_List">
        id, name,image,description,create_time,update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Item
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from Item
        where id=#{id}
    </select>

    <insert id="add" parameterType="com.qinglong.todo.entity.Item">
        insert
        into Item
       values (#{id},#{name},#{image},#{description},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.qinglong.todo.entity.Item">
       update Item
       set
       id=#{id},name=#{name},iamge=#{image},description=#{description},create_time=#{createTime},update_time=#{updateTime}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from Item
        where id=#{id}
    </delete>
    <delete id="deleteAll" parameterType="java.lang.Integer">
        delete
        from Item
        where id=#{panelId}
    </delete>
</mapper>
